In [2]:
import pandas as pd

emissions = pd.read_csv("https://koumoul.com/s/data-fair/api/v1/datasets/igt-pouvoir-de-rechauffement-global/convert")
emissions.head(2)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207

In [3]:
col = ["INSEE commune", "Commune", "Autres transports", "Autres transports international"]
emissions_copy = emissions.loc[:10, col]

emissions_copy

,INSEE commune,Commune,Autres transports,Autres transports international
0,01001,L'ABERGEMENT-CLEMENCIAT,NaN,NaN
1,01002,L'ABERGEMENT-DE-VAREY,NaN,NaN
2,01004,AMBERIEU-EN-BUGEY,212.577908,NaN
3,01005,AMBERIEUX-EN-DOMBES,NaN,NaN
4,01006,AMBLEON,NaN,NaN
5,01007,AMBRONAY,132.968268,NaN
6,01008,AMBUTRIX,60.233517,NaN
7,01009,ANDERT-ET-CONDON,NaN,NaN
8,01010,ANGLEFORT,143.815664,NaN
9,01011,APREMONT,NaN,NaN
10,01012,ARANC,NaN,NaN

In [7]:
#2
emissions_copy=emissions_copy.rename(columns={'INSEE commune':'code_insee', 'Autres transports':'transports', 'Autres transports international':'transports_international'})

In [5]:
#3
emissions_copy.fillna(0)

,INSEE commune,Commune,Autres transports,Autres transports international
0,01001,L'ABERGEMENT-CLEMENCIAT,0.000000,0.0
1,01002,L'ABERGEMENT-DE-VAREY,0.000000,0.0
2,01004,AMBERIEU-EN-BUGEY,212.577908,0.0
3,01005,AMBERIEUX-EN-DOMBES,0.000000,0.0
4,01006,AMBLEON,0.000000,0.0
5,01007,AMBRONAY,132.968268,0.0
6,01008,AMBUTRIX,60.233517,0.0
7,01009,ANDERT-ET-CONDON,0.000000,0.0
8,01010,ANGLEFORT,143.815664,0.0
9,01011,APREMONT,0.000000,0.0
10,01012,ARANC,0.000000,0.0

In [9]:
#4
emissions_copy['dep'] = emissions_copy['code_insee'].str[:2]
emissions_copy

,code_insee,Commune,transports,transports_international,dep
0,01001,L'ABERGEMENT-CLEMENCIAT,NaN,NaN,01
1,01002,L'ABERGEMENT-DE-VAREY,NaN,NaN,01
2,01004,AMBERIEU-EN-BUGEY,212.577908,NaN,01
3,01005,AMBERIEUX-EN-DOMBES,NaN,NaN,01
4,01006,AMBLEON,NaN,NaN,01
5,01007,AMBRONAY,132.968268,NaN,01
6,01008,AMBUTRIX,60.233517,NaN,01
7,01009,ANDERT-ET-CONDON,NaN,NaN,01
8,01010,ANGLEFORT,143.815664,NaN,01
9,01011,APREMONT,NaN,NaN,01
10,01012,ARANC,NaN,NaN,01